H1
  a(href="https://github.com/the-teacher") github.com/the-teacher
  img(src="/images/the-teacher.jpg", style="float:right")
p
  b Ilya N. Zykin, Russia, Saint Petersburg
  br
  i Ruby Frontend developer (school teacher in the past)

h2(style="color:MediumBlue") My open-source projects

ol
  li
    h3
      a(href="https://github.com/the-teacher/the_template") TheTemplate
    p
      b Padrino Template App for frontend developers
      br
      i Use HAML, SASS and Coffee Script for frontend development right now!
  li
    h3
      a(href="https://github.com/the-teacher/ExpressOnSteroids") Express on Steroids
    p
      b Node.js/Express application + CoffeeScript + SASS + HAML
      br
      i Use HAML, SASS and Coffee Script for frontend development right now!
  li
    h3
      a(href="https://github.com/the-teacher/TheTime.js") TheTime.js
    p
      b Awesome JS Date wrapper for Node.js and Browser JS
      br
      i Makes work with JS Date object easier and more humane
  li
    h3
      a(href="https://github.com/the-teacher/the_sortable_tree") the_sortable_tree
    p
      b Engine Based Drag&Drop GUI for awesome_nested_set gem. Rails >=3.1
      br
      i For building awesome tree based interfaces with awesome_nested_set gem